doctype html
html(lang="es")
	head
		title foto
		meta(charset="utf-8")
		link(href="/public/css/bootstrap.min.css" rel="stylesheet")
		link(href="/public/css/app.css" rel="stylesheet")

		block contenido