extends ../layout.jade
block contenido
	body
		nav(class="large-padding black white-text")
			ul
				li
					a(href="/app") Inicio
				li
					a(href="/app/imagenes") Mis Registros
		p hola profesor
		a(href="/app_profes/removeSesion") Cerrar la sesión